.gomb {
    background-color: rgb(224, 127, 0);
    border-radius: 10px;
    transition: transform 0.3s ease;
    transition: ease-out 0.3s;
    outline: none;
    border: black 3px solid;
    margin-right: 10px;
    z-index: 1;
    width: 100px;
    height: 45px;
}
.gomb:hover {
    color: #fff;
    cursor: pointer;
    background-color: black;
}
.gomb:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: black;
}

.navbar {
    background-color: rgb(224, 127, 0);
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
.container,.navbar {
    animation: transitionIn 0.75s;
}
h1 {
    background-color: rgb(224, 127, 0);
    width: 30%;
}
.navbar-brand {
    color:black;
}


.headerhatter {
    opacity: 1;
}
a {
    text-decoration: none;
}

.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: black;
    display: block;
    transition: all 0.2s;
}

.middle-bar{
    margin: 5px auto;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
    background-color: black;
}

p {
    text-indent: 15px;
    
}
#button {
    display: inline-block;
    background-color: rgb(224, 127, 0);
    width: 50px;
    height: 50px;
    line-height:60px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    z-index: 1000;
  }
  
  #button i{
    font-size:32px;
    color:white;
  }
  
  
  
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  
  #button.show {
    opacity: 1;
  }
  div.JOBB {
      float: right;
      width: 50%;
      display: inline-block;
      justify-content: center;
  }