.gomb {
    background-color: rgb(224, 127, 0);
    border-radius: 10px;
    transition: transform 0.3s ease;
    transition: ease-out 0.3s;
    outline: none;
    border: black 3px solid;
    margin-right: 10px;
    z-index: 1;
}
.gomb:hover {
    color: #fff;
    cursor: pointer;
}
.gomb:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: black;
}
.gomb:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.navbar {
    background-color: rgb(224, 127, 0);
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
.container,.navbar {
    animation: transitionIn 0.75s;
}
h1 {
    background-color: rgb(224, 127, 0);
}
.navbar-brand {
    color:black;
}


.headerhatter {
    background: url(../Antik_kozepkor_project/kepek/headerhatter.jpg);
    opacity: 0.5;
}
a {
    text-decoration: none;
}